.note {
	position:absolute;
	background-image: url('sticky-note.png');
	background-repeat:no-repeat;
	display: inline-block;
	height: 290px;
	width: 290px;
}

.noteTitle {
	position: absolute;
	text-align: center;
	display: inline-block;
	background-color: transparent;
	left: 43px;
	top: 12px;
}

.noteText {

	position: absolute;
	overflow-y: auto;
	background-color: transparent;
	height: 198px;
	resize:none;
	top:45px;
	width: 252px;
}

.noteContent {
	margin-left: 15px;
	margin-top: 15px;
}

.noteContainer {
	height:100%;
	width: 100%;
}

.noteButton {
	background-color: transparent;
	position: absolute;

}
.noteSave {
	top: 255px;
	left: 12px;
}
.noteClose {
	left: 259px;
	top: 11px;
}
.noteNew {
	top: 12px;
	left: 12px;
}

.noteShare {
	top: 255px;
	left: 230px;
}